@font-face { font-family: 'OpenSansR'; src: url('../fonts/OpenSansR.eot'); src: url('../fonts/OpenSansR.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansR.woff') format('woff'), url('../fonts/OpenSansR.ttf') format('truetype'), url('../fonts/OpenSansR.svg#OpenSansR') format('svg');     font-weight: normal;font-style: normal;
}
@font-face { font-family: 'Rub'; src: url('../fonts/Rub.eot'); src: url('../fonts/Rub.eot?#iefix') format('embedded-opentype'), url('../fonts/Rub.woff') format('woff'), url('../fonts/Rub.ttf') format('truetype'), url('../fonts/Rub.svg#Rub') format('svg'); font-weight: normal;font-style: normal;
}
@font-face { font-family: 'OpenSansL'; src: url('../fonts/OpenSansL.eot'); src: url('../fonts/OpenSansL.eot?#iefix') format('embedded-opentype'), 	 url('../fonts/OpenSansL.woff') format('woff'), 	 url('../fonts/OpenSansL.ttf') format('truetype'), 	 url('../fonts/OpenSansL.svg#OpenSansL') format('svg');     font-weight: normal;font-style: normal;
}

main {
    overflow-x: hidden;
}

.row-canonical {
    margin: -10px;
}

.col-canonical {
    padding: 10px;
}

h2.title--no-line:before, h2.title--no-line:after {
    display: none;
}

section{position:relative;}
section:before, section:after{ content: " "; display: table; clear:both;}

small a{text-decoration:underline;}

.header{
    background: url(../images/headerbg.jpg?20171223) left 0;
    height: auto;
    background-size: cover;
    padding-bottom: 100px;
}
.header .title {
    font-family: "OpenSansR";
    font-weight: 700;
    color: #fff;
    /*margin-top: 320px;*/
    margin-top: 220px;
}
.title_head_g{
    color: #6fbf44;
}
.title_head_b{
    font-size: 90px;
    text-transform: uppercase;
}
.title_head_subtitle{
    font-size: 50px;
    border-bottom: 5px solid #6fbf44;
    padding-bottom: 10px;
}
.title_head_city{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}
.header .description{  background: url(../images/bluebg.png);  width: 570px;  color: #fff;  margin: 40px 0 20px 0;  font-size: 20px;  box-sizing: border-box; font-family: OpenSansL, arial, sans-serif;  padding: 30px 75px; text-align: left;}

.topcont {
    background: url(../images/topcont.png) bottom;
    height: auto;
    box-sizing: border-box;
    padding: 20px 38px 0 30px;

}

.lead-form-top{
    width: 393px;
    height: 400px;
    padding: 0 50px;
    /*margin-top: 248px;*/
    margin-top: 148px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.lead-form-top-row{
    display: block;
    margin-top: 15px;
}

.lead-form-top-row:first-child{
    margin-top: 50px;
}

.lead-form-top-icon{
    float: left;
    display: block;
}
.lead-form-top-row:first-child .lead-form-top-icon{
    margin: 0 4px;
}

.lead-form-top-row:last-of-type .lead-form-top-icon{
    margin-top: 10px;
}

.lead-form-top-descr{
    float: left;
    display: block;
    width: 254px;
    margin-left: 15px;
    font-family: OpenSansR;
}

.lead-form-top-descr_phone{
    color: #005e8b;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.lead-form-top-descr_email{
    color: #6e6e6e;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.lead-form-top-descr_dop{
    color: #999;
    font-size: 15px;
    font-weight: 400;
}

.lead-form-top_lead-btn{
    display: block;
    text-align: center;
    line-height: 51px;
    width: 292px;
    height: 51px;
    background-color: #ffbc1a;
    border-radius: 5px;
    margin: 25px auto 0;
    color: black;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
}
.lead-form-top_lead-btn:hover{
    background-color: #e6a300;
    color: black;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.lead-form-top_lead-descr{
    display: block;
    text-align: center;
    font-family: OpenSansR;
    font-size: 14px;
    font-weight: 700;
    color: #6e6e6e;
    /*margin-top: 25px;*/
    margin-top: 15px;
}

.lead-form-top_lead-descr span{
    color: #6fbf44;
}

.profits{
    /*margin-top: 170px;*/
    margin-top: 70px;
    padding: 0;
}

.profits-item{
    float: left;
    margin: 0 8px;
    width: 218px;
}

.profits-item_icon-wrapper{
    width: 218px;
    height: 70px;
}
.profits-item_icon{
    display: block;
    margin: 0 auto;
}

.profits-item_descr{
    height: 70px;
    border: 1px solid rgba(111, 191, 68, 0.3);
    color: white;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 700;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide{ position: absolute; top: -50px;}

.backcall{
    width: 100%;
    height: 51px;
    background-color: #ffbc1a;
    border-radius: 5px;
    cursor: pointer;
    line-height: 51px;
}
.backcall:hover{
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #e4a300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#e4a300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#e4a300',GradientType=0 ); /* IE6-9 */
}
.zayavka{
    width: 100%;
    height: 51px;
    background-color: #6fbf44;
    border-radius: 5px;
    text-align: center;
    line-height: 51px;
    color: white;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.zayavka:hover{
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #75be4b 50%, #66ac3d 50%, #66ac3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#75be4b), color-stop(50%,#66ac3d), color-stop(100%,#66ac3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#66ac3d',GradientType=0 ); /* IE6-9 */
}
.zayavka.zayavka_right{float: right;  width: 330px;  margin-top: 80px;  font-size: 25px;}
.backcall.button_1{ font-size: 15px;  margin-top: 10px;text-align: center;padding: 10px 0;box-shadow: 0 1px 0px #C88F07;text-transform: uppercase;}
.backcall.button_2{
    text-align: center;
    color: black;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.calculator .mini{
    opacity: 0.7;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.overpage, .overpage_z{  position: fixed; z-index: 99999; background: rgba(0, 0, 0, 0.65); width: 100%; height: 100%; transition: 1s; opacity:0; display:none; }
.call{  width: 460px; padding-bottom: 50px;position: relative; background: white; margin: 10% auto;font-family: OpenSansL, RobotoL, arial, sans-serif;}
.call_z{  width: 700px; padding-bottom: 50px;position: relative; background: white; margin: 2% auto;  font-family: OpenSansR, Arial, sans-serif;}
.call .close, .call_z .close_z{  position: absolute; right: -20px; height: 39px; width: 40px; text-align: center; background: #fff; color: #000; border-radius: 100%; font-size: 28px; line-height: 1.4; cursor: pointer; top: -20px;z-index: 999;   opacity: 1;  font-weight: normal;}
.call .calltitle, .call_z  .calltitle_z {   position: relative;  height: 73px;  width: 100%;  background: #005e8b;  text-align: center;  color: #fff;  font-size: 24px;  line-height: 3;  text-shadow: 0 1px 1px #005e8b;}
.call .callform{width: 310px;margin: 0 auto;}
.call .callnote{margin-top: 30px;}
.call .callnote p{text-align: center}
.call_z .callform_z{width: 580px;margin: 0 auto;}
.formname{margin-top: 31px !important;}
.minformfield{  height: 41px;}
.bigformfield{   height: 110px;}
.buttonsendf{   width: 135px;height: 42px;background: rgb(189, 50, 24);color: white;border: none;   font-size: 14px;   margin-top: 17px; cursor: pointer;border-radius: 0px; }
.buttonsendfcall, .buttonsendfcall_z{   width: 135px;height: 42px;  color: #000;border: none;font-size: 14px;   margin-top: 10px; cursor: pointer;border-radius: 5px;
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #eab300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#eab300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#eab300',GradientType=0 ); /* IE6-9 */
}

.faq_answers-item{
    font-family: OpenSansR;
    font-size: 15px;
    line-height: 30px;
    color: #333;
    font-weight: 400;
}
.faq_answers-item > b{
    color: #005e8b;
    font-weight: 700;
}

.faq_answers-item:not(:first-of-type){
    display: none;
}

.faq_answers-item.active{
    display: block;
}

.faq_questions-items{
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding: 50px 25px;
}

.faq_questions-item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    user-select: none;
}

.who-can-item{
    height: 190px;
    padding: 40px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.who-can-item-icon{
    display: block;
    float: left;
    width: 97px;
}

.who-can-item-icon img{
    display: block;
}

.who-can-item-descr{
    display: block;
    float: left;
    margin-left: 20px;
    width: 70%;
}

.who-can-item-descr_head{
    display: block;
    color: #005e8b;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.who-can-item-descr_subhead{
    display: block;
    margin-top: 5px;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 400;
}

.faq_questions-item span{
    display: block;
    float: left;
    width: 90%;
}

.faq_questions-item::before{
    content: '';
    display: block;
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 22px;
    border-radius: 10px;
    background: url(../images/plus-icon.png);
    transition: ease-in-out 0.2s;
}

.faq_questions-item.active::before{
    background: url(../images/minus-icon.png);
}

.faq_questions-item.active{
    color: #6fbf44;
}

.steps{
    background-color: #6fbf44;
    margin-top: 95px;
}

.step-item{
    border: 1px solid #fff;
    position: relative;
    padding: 20px 25px;
    margin: 100px 0 75px;
    min-height: 220px;
}

.step-item-num{
    position: absolute;
    left: 28px;
    top: -33px;
    z-index: 2;
    color: white;
    font-family: OpenSansR;
    font-size: 30px;
    font-weight: 700;
    display: block;
    background: #6fbf44;
    padding: 0 10px;
}

.step-item-icon-wrapper{
    position: absolute;
    top: -51px;
    right: 80px;
    padding: 0 15px;
    z-index: 2;
    background-color: #6fbf44;

}

.step-txt{
    display: block;
    color: white;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 400;
}

.step-ul{
    display: block;
    color: white;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 700;
    margin-left: 0;
}

.step-ul li{
    line-height: 25px;
}

.about-block{
    padding: 40px 50px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.docs{
    margin-top: 30px;

}

.docs-item{
    width: 100%;
    height: 475px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding-top: 45px;
}

.docs .head{
    display: block;
    padding: 0 50px;
    margin-bottom: 45px;
}

.docs-item_row{
    border-top: 1px solid rgba(129, 129, 129, 0.15);
    padding: 10px 50px;
}

.docs-name{
    display: block;
    float: left;
    font-family: OpenSansR;
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 400;
    max-width: 350px;
    padding-right: 15px;
}

.docs-name b{
    display: block;
    color: #005e8b;
    font-weight: 700;
}

.docs-name .b{
    color: #005e8b;
    font-weight: 700;
}

.docs .head .head_1, .head_2{
   display: block;
   color: #005e8b;
   font-family: OpenSansR;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
}

.docs .head_1{
    float: left;
    text-align-last: auto;
}
.docs .head_2{
    float: right;
    text-align: right;
}

.docs_download-lnk{
    display: block;
    float: right;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: url(../images/download-icon.png) no-repeat;
    opacity: 0.5;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.docs_download-lnk:hover{
    opacity: 1;
}

.contacts{
    margin-top: 50px;
}

.backcalaasl  input[type="text"]{width: 100%;}
.width_big{width: 100%;}
.width_small{width: 284px;}
.backcalaasl  input[type="text"], .backcalaasl_z  input[type="text"], .backcalaasl_z select {
    height: 41px;
    margin-bottom: 10px;
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid #888;
    background: #fff;
    border: 1px solid #ddd;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;
}
.backcalaasl  input[type="text"]:focus, .backcalaasl_z  input[type="text"]:focus, .backcalaasl_z textarea:focus, .backcalaasl_z select:focus  {outline:2px solid #068dcd;}
.backcalaasl  input[type="button"]:focus, .backcalaasl_z  input[type="button"]:focus{outline:none;}
.backcalaasl_z  textarea {width: 100%;  height: 90px;  margin-bottom: 10px;padding: 5px 5px;font-size: 14px;border: 1px solid #888;background: #fff; border: 1px solid #ddd;border-right: 1px solid #bbb;border-bottom: 1px solid #bbb;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.backcalaasl  input[type="text"]::-webkit-input-placeholder, .backcalaasl_z  input[type="text"]::-webkit-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]::-moz-placeholder, .backcalaasl_z  input[type="text"]::-moz-placeholder          {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:-moz-placeholder, .backcalaasl_z  input[type="text"]:-moz-placeholder           {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:-ms-input-placeholder , .backcalaasl_z  input[type="text"]:-ms-input-placeholder      {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus::-webkit-input-placeholder, .backcalaasl_z  input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus::-moz-placeholder, .backcalaasl_z  input[type="text"]:focus::-moz-placeholder   {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus:-moz-placeholder, .backcalaasl_z  input[type="text"]:focus:-moz-placeholder    {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus:-ms-input-placeholder, .backcalaasl_z  input[type="text"]:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea::-webkit-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea::-moz-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:-moz-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:-ms-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.margin{margin-right: 8px;}

.mini{font-size: 12px;margin-top: 20px;}

.phrases-block_icon-wrapper{
    height: 51px;
    text-align: center;
}

.phrases-block_icon{
    display: inline-block;
}

.phrases-block_profit-txt{
    display: block;
    text-align: center;
    text-transform: none;
    color: white;
    font-family: OpenSansR;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 10px;
}
.phrases-block_profit-txt > .rub{
    text-transform: none;
}

.formfield-radio {
    height: auto;
    margin-bottom: 10px;
}

.formfield-radio label {
    cursor: pointer;
}

.radio {
    display: inline;
    padding-right: 5px;
}

.radio > span {
    background-image: url(../images/radio.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    top: 6px;
}

.copira{
    margin-top: 180px;
}

.radio > span.checked {
    background-position: 0 -22px;
}

.radio input {
    display: none;
}

.input-error {
    border:1px solid red !important;
}

.slide-2 h3 {
    text-align: center;
    width: 100%;
    display: table;
    height: 53px;
}

.slide-2 h3 span {
    vertical-align: middle;
    display: table-cell;
}

.slide-2_half {
    position: relative;
    height: 230px;
}

.slide-2_half_list {
    position: absolute;
    display: inline-block;
    top: 90px;
    width: 250px;
    left: 50%;
    margin-left: -118px;
}

.who-can small {
    color: #015E8B;;
    font-size: 90%;
}

.file_upload{
    display: block;
    position: relative;
    overflow: hidden;              /* example */
    height: 2em;                 /* example */
    font-weight: normal;
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer              /* example */
}
.file_upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80px;                  /* example */
    height: 100%;
    text-align: center           /* example */
}
.file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em            /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > mark{
        display: none
    }
    .file_upload .button{
        width: 100%
    }
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}
.file_upload{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear}
.file_upload.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
.file_upload .button{
    background: #E8E8E8;
    transition: background 0.2s;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #000;
    overflow: hidden;
    line-height: 22px;
}
.file_upload:hover .button{
    background: #ccc;
}
.file_upload:active .button{
    background: #ccc;
}
span.red{color: #f00;font-weight: bold;}

.calculator{padding: 65px 30px 30px;margin-bottom: 30px;}
.calculator-block{ margin: 10px 0 0;}
.calculator-block .title{
    display: inline-block;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 5px;
}

.calculator-block .price{display: inline-block;font-size: 22px;color: #007AB3;line-height: 20px;vertical-align: middle;}
.calculator-block .month{
    display: inline-block;
    color: white;
    font-family: OpenSansR;
    font-size: 18px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    width: 151px;
    height: 43px;
    /*background-color: #005e8b;*/
    /*border: 1px solid #005e8b;*/
    background-color: rgba(0, 94, 139, 0.4);
    border: 1px solid rgba(0, 94, 139, 0.1);
    border-radius: 3px;
    cursor: pointer;
}
.calculator-block .month.active{
    background-color: #005e8b;
    border: 1px solid #005e8b;
}
@media (max-width: 480px){
    .calculator-block .term-title {
        display: block;
    }
    .calculator-block .month{
        width: 143px;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .calculator-block .term-title {
        display: block;
    }
    .calculator-block .month{
        width: 138px;
    }
}
.calculator-block .from{
    float: left;
    font-size: 15px;
    color: #999;
    margin: 15px 0;
}
.calculator-block .till{ float: right; font-size: 15px; color: #999; margin: 10px 0 8px;}
.calculator-block .polzun{
    float: left;
    margin: 20px 0px;
    width: 100%;
    height: 32px;
    overflow-x: hidden;
}
.slider-result{
    display: inline-block;
}
.result-sum{
    width: 151px;
    height: 43px;
    background-color: #005e8b;
    border: 1px solid #005e8b;
    border-radius: 3px;
}
#result-month{  float: left;  margin-right: 5px;}

.slider, .slider.dragdealer{
    width: 100%;
    height: 10px;
    position:relative;
    margin:0 auto;
    padding:0 10px;
    /*border-radius: 10px;*/
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23) inset;
    top: 10px;
    background-color: rgba(0, 94, 139, 0.2);
    border-radius: 5px;
}

.slider-handle{
    position: absolute;
    top: 4px!important;
    left: 0;
    width: 30px;
    height: 22px;
    background-color: #005e8b;
    border-radius: 10px;
    background: url(../images/slider-handler.png) top center no-repeat;
    background-size: cover;
    margin-top: -10px;
    z-index: 1000;
}
.slider-handle:before{
    content: '';
    position: absolute;
    left: -499px;
    width: 500px;
    top: 6px;
    height: 10px;
    background-color: rgba(111, 191, 68, 0.7);;
    z-index: 999;
}
.before{content: ''; position: absolute;left: 0;width: 7px;top: 0;height: 10px;background: url(../images/before.png);z-index: 1000;}

.clr{clear:both;}

.sum-dragger-input{
    position: relative;
    background: none;
    border: none;
    width: 160px;
    color: white;
    font-family: OpenSansR;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 43px;
    text-align: right;
    display: block;
    float: left;
    width: 100px;
}

.sum-dragger-input + .rub{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 43px;
}
.sum-dragger-input + .rub::before{
    content: "|";
    display: block;
    float: left;
    margin: 0 5px;
}

.sum-dragger-input:focus{
    outline:none;
}

.month-count {width: 460px;height: 10px;background:url('../images/draggers/slider-bg.png'); position:relative;margin:0 auto;padding:0 10px;}
#months-word{ margin-left: 5px;}

.ui-slider-handle {width: 32px;height: 32px;position:absolute;top: -10px;margin-left: -16px;z-index:200;background:url('../images/draggers/slider-button.png');}
.ui-widget-header {background:url('../images/draggers/fill.png') no-repeat left;height:8px;left:1px;top:1px;position:absolute;}

.platej{}
.platej .title{text-shadow: 0 0px 0px;font-size: 17px;  margin-bottom: 15px;}
.platej .platej-block{
    width: 100%;
    /*height: 221px;*/
    height: 187px;
    background-color: #6fbf44;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    font-size: 16px;
}
.platej .platej-block.platej-block-static {cursor: default;}

.platej .platej-block.top{border-radius: 10px 10px 0 0; border-bottom: 1px solid #fff;}
.platej  .platej-block:hover,
.platej  .platej-block.platej-block-static,
.platej  .platej-block.active {    background:#72BF44; color: #fff;}

/*.platej  .platej-block.platej-block-static {*/
/*background-color: #fff;*/
/*}*/

.platej .platej-block .text{  clear: both;}
.platej .platej-block .platej-month{
    color: white;
    display: block;
    text-align: center;
    font-family: OpenSansR;
    font-size: 18px;
    font-weight: 400;
    /*padding-left: 25px;*/
}
.platej .platej-block .price{
    display: block;
    text-align: center;
    /*margin-top: 70px;*/
    margin-top: 20px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.platej .platej-block .price{
    text-transform: none;
}
.platej-zakaz{ color: #fff;font-size: 19px;padding: 16px 0px;text-align: center;cursor: pointer;border-radius: 5px;margin: 43px auto 0;box-shadow: 0 1px 0px #66ac3d;
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #80c657 50%, #72bf44 50%, #6db641 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#80c657), color-stop(50%,#72bf44), color-stop(100%,#6db641)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#6db641',GradientType=0 ); /* IE6-9 */
}
.platej-zakaz:hover{
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #75be4b 50%, #66ac3d 50%, #66ac3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#75be4b), color-stop(50%,#66ac3d), color-stop(100%,#66ac3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#66ac3d',GradientType=0 ); /* IE6-9 */
}

.platej_profit1{
    display: block;
    font-family: OpenSansR;
    /*font-size: 15px;*/
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6e6e6e;
    /*margin-top: 45px;*/
    margin-top: 25px;
}
.platej_profit1 > span{
    color: #6fbf44;
}

.platej_profit2{
    display: block;
    /*margin-top: 25px;*/
    margin-top: 20px;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 14px;
    font-weight: 400;
}

.info{background: #005e8b;margin: 30px 0;}
.col4 { float: left; width: 260px; margin: 50px 30px 50px 0;  color: #fff;  text-shadow: 0 1px 0px #003d59;  font-size: 28px;  text-align: center;}
.col4 .num{  text-transform: uppercase;  font-size: 17px;}
.col4 .rub{  font-size: 27px;}
.col4:nth-child(4n) { margin-right: 0;}
.rub{  font-family: Rub, arial, sans-serif;}

.preim{background: #72bf44;margin: 30px 0;padding: 30px 0;}
.col6 { float: left; width: 165px;  height: 203px; margin: 50px 30px 50px 0;  color: #fff;font-size: 15px;  text-align: center;}
.col6 .images{   margin-bottom: 15px; }
.col6 .images .icon{ width: 120px;height: 120px; background-image: url(../images/sprite_1.png);margin: 0 auto;}
.col6 .images .icon.icon1{background-position: 0 0;}
.col6 .images .icon.icon2{background-position: 0 -120px;}
.col6 .images .icon.icon3{background-position: 0 -240px;}
.col6 .images .icon.icon4{background-position: 0 -360px;}
.col6 .images .icon.icon5{background-position: 0 -480px;}
.col6 .images .icon.icon6{background-position: 0 -600px;}
.col6 .title{ line-height: 17px; }
.col6:nth-child(7n) { margin-right: 0;}

.feedback-block .col3_abs { cursor: default;}

.money{  background: url(../images/523.jpg) center 0;  height: 398px;margin: 30px 0;}
.money .title{  color: #fff;  font-size: 60px;  font-family: OpenSansL, RobotoL, arial, sans-serif;  margin-top: 50px;}
.money .description{   float: left; background: url(../images/bluebg.png);  width: 570px;  color: #fff;  margin: 40px 0 0 0;  font-size: 20px;  font-family: ubuntu;  box-sizing: border-box;  padding: 30px 75px;text-align: left;}
.bolshe{}

.nicescroll-rails > div { cursor: pointer;}

.sert{ margin: 0 8px 10px 0; float: left; box-shadow: 0 0 5px rgba(143, 161, 195, 0.36);}
.sert a{}

ul.pdf{ margin: 0;}
ul.pdf li{list-style: none;background: url(../images/pdf.png) no-repeat;line-height: 20px;margin-bottom: 10px;padding-left: 40px;min-height: 26px;}
ul.pdf li a{color: #005e8b;text-decoration: none;}
ul.pdf li a:hover{ color: #0CAFD6;}

.doc-4{float:left;width:50%; margin-top: 20px;}

.footer_cont-row{
    margin: 15px 0;
    position: relative;
}

.footer_cont-row_icon-wrapper{
    float: left;
    width: 24px;
    margin-right: 14px;
    text-align: center;
}

.footer_cont-row_icon-wrapper img{
    display: inline-block;
}

.footer-phone_val{
    display: block;
    float: left;
    color: white;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 400;
}

.footer-phone .footer-phone_val{
    color: white;
    font-family: OpenSansR;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.footer_cont{
    margin-top: 30px;
}

.footer_cont-row:last-of-type::before{
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #005e8b;
}

.footer{
    color: #FFF;
    background: #0f0f0f;
}
.footer .title{  font-size: 25px;  margin-bottom: 10px;}

.footer .block {
    margin: 20px 0;
}
.footer .block:first-child {
    margin: 30px 0 20px;
}
.footer .block li{  list-style: none;}

.footer-title {
    margin: 0 0 20px 0;
    font-size: 25px;
}

.footer-title:before,
.footer-title:after {
    display: none;
}

.footer_cont{  margin: 30px 0;}

.footer_cont .phone {
    padding-left: 33px;
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
    width: 260px;

}

.footer_cont .phone:before {
    content: " ";
    display: block;
    width: 30px;
    height: 60px;
    background: url(../images/sprite_1.png) no-repeat -190px -47px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer_cont .phone a{color: #fff;}
.footer_cont .phone span{color: #fff;font-size: 28px;text-shadow: 0px 0px 0;}
.footer_cont .time{ padding-left: 33px;}
.footer_cont .address{}

.footer_form_bg{
    width: 100%;
    background: url(../images/topcont.png?20171223) bottom;
    background-size: cover;
    padding: 45px 45px 75px;
}
.no{line-height: 15px;  font-size: 14px;  background: #BCD9F0;  padding: 10px;}
.no a{  color: #1E5799;}
.no a:hover{text-decoration: none;}
.footer_form_bg .title{
    display: block;
    color: #005e8b;
    font-family: OpenSansR;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer_form_bg .text{
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}
.footer_form_bg .f_input input[type="text"]{
    display: block;
    width: 292px;
    height: 32px;
    line-height: 32px;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #005e8b;
    color: #6e6e6e;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    text-align: center;
}
.footer_form_bg .f_input input[type="text"]:focus{
    color: #000 !important;
    border: none!important;
    border-bottom: 1px solid #005e8b!important;
    outline: none !important;
}
#callorderform-phone-2::placeholder, #callorderform-name::placeholder{
    color: #6e6e6e;
}
.footer_form_bg .f_input input[type="submit"]{
    width: 292px;
    height: 51px;
    background-color: #ffbc1a;
    border-radius: 5px;
    color: black;
    font-family: OpenSansR;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
}
.footer_form_bg .f_input input[type="submit"]:hover{
   
}
.footer_form_bg .f_input textarea{  width: 216px;  border: 1px solid #D2D2D2;  padding: 5px; margin-left: 10px;  height: 100px;}
.footer_form_bg .f_label{font-size: 13px;  text-align: center;  margin-bottom: 10px;}
.footer_form_bg .f_input input:focus{outline:  2px solid #fff;}
.footer_form_bg .f_input input[type="text"]::-webkit-input-placeholder {color:#fff;opacity: 1; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]::-moz-placeholder          {color:#fff;opacity: 1; transition: opacity 0.3s ease;}/* Firefox 19+ */
.footer_form_bg .f_input input[type="text"]:-moz-placeholder           {color:#fff;opacity: 1; transition: opacity 0.3s ease;}/* Firefox 18- */
.footer_form_bg .f_input input[type="text"]:-ms-input-placeholder      {color:#fff;opacity: 1; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus::-moz-placeholder   {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus:-moz-placeholder    {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.map_phone{height: 54px; vertical-align: middle; padding-left: 70px;width: 100%;background-color: #E8EDF1;text-align: center;border-radius: 50px;margin-bottom: 20px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;}
.map_phone a{ display: block;}
.map_phone span{ display: table-cell; height: 54px; vertical-align: middle;}
.map_phone span:before{ content: ''; background-image: url(../images/sprite_1.png); background-position: -122px -434px; height: 54px; width: 54px; position: absolute; top: 0; left:0;}
.map_phone:hover,.map_phone:focus{ background-color: #D8E2EA;}

.map-holder { width: 100%; height: 450px; }
.map-links p { margin: 10px 0; }
.map-links_list {margin:0;}
.map-links_list li { display: inline-block;   margin-right: 40px; }
.map-links_list li a, .time a { display: inline; color: #72BF44; text-decoration: none; border-bottom: 1px solid;}
.map-links_list li a:hover, .time a:hover { cursor: pointer; border-bottom:none;}
.map-balloon { width: 285px; height: 78px; background-image: url(../images/sprite_1.png); background-position: -550px -509px; position: relative; padding: 10px 5px; }
.map-balloon .close-button { position: absolute; top: 1px; left: 227px; color: #fff; text-decoration: none; font-family: "robotoregular", arial, sans-serif; font-weight: bold; font-size: 20px; }
.map-balloon .text { color: #fff }
.map-icon { width: 85px; height: 57px; background-image: url(../images/sprite_1.png); background-position: -303px -445px; color: #fff; font-size: 16px; font-family: 'robotoregular', arial, sans-serif; padding: 7px 12px; }

.ac-container{}
.ac-container label{position: relative;z-index: 20;display: block;cursor: pointer;background: #F7F7F7 url(../images/toggle-plus.png) no-repeat 6px 5px;margin: 0 0 5px 0;box-shadow: 0 2px 5px -4px #000;padding: 7px 7px 7px 40px;}
.ac-container input{display: none;}
.ac-container section{ height: 0px; position: relative; z-index: 10;	padding: 0 10px;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear; overflow: hidden; border: 1px solid #FFFFFF;}
.ac-container input:checked + label{background: #015E8B url(../images/toggle-minus.png) no-repeat 6px 5px;color: #fff;}
.ac-container input:checked ~ section{	-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.ac-container input:checked ~ section.ac-small{
    height: auto;/*auto*/ max-height: 500px;/*auto*/ display: block; margin: 0 0 5px; overflow: hidden; clear: both;padding: 10px;background: #f0f0f0; border: 1px solid #d6d6d6; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.ac-small ul{margin-left: 0;}
.ac-small ul li{ float: left; width: 182px; margin-left: 30px;}

.backcalaasl_z select.regions-select__select {
    padding-top: 0;
    padding-bottom: 1px;
    line-height: 14px;
    height: 30px;
    width: 100%;
    border: 2px solid #72BF44;
    outline-offset: 0;
    outline: 0;
    border-radius: 5px;
}

.backcalaasl_z select.regions-select__select:focus {
    border: 2px solid #068dcd;
}

.regions-list-mobile {
    display: none;
    width: 170px;
    background-color: #005E8B;
    color: #fff;
    padding: 3px 0;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -85px;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: none;
}

.regions-list-mobile__list-block {
    max-height: 0;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 28px;
    width: 140px;
    margin-left: -70px;
    background-color: #005E8B;
    border: 1px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

.regions-list-mobile.active .regions-list-mobile__list-block {
    max-height: 100px;
    opacity: 1;
}

.regions-list-mobile__list {
    margin: 0;
    list-style: none;
}

li.regions-list-mobile__item {
    margin: 3px 0;
}

.regions-list-mobile__item--selected {
    background: #fff;
    color: #005E8B;
}

a.regions-list-mobile__link {
    color: inherit;
}

.regions-list-footer {
}

.regions-list-footer__list {
    margin: 0;
    list-style: none;
}

.regions-list-footer__item {
    color: #72BF44;
}

.regions-list-footer__item--selected {
    background: #72BF44;
    display: inline-block;
    color: #000;
    padding: 0 5px;
    border-radius: 3px;
}

a.regions-list-footer__link {
    color: inherit;
    text-decoration: underline;
}

a.regions-list-footer__link:hover {
    text-decoration: none;
}

.additional-text {
    background-color: #005E8B;
    color: #fff;
    padding: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: 30px;
}

.for-whom__cell {
    display: table;
}

.for-whom__icon-block {
    display: table-cell;
}

.for-whom__text-block {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 20px;
}

.for-whom__title {
    margin-top: 5px;
}

.icon-single-person {
    width: 122px;
    height: 90px;
    background-image: url(../images/sprite_1.png);
    background-position: -221px 0px;;
}

.icon-multiple-persons {
    width: 122px;
    height: 90px;
    background-image: url(../images/sprite_1.png);
    background-position: -221px -90px;
}

.contacts-explanation__digit {
    font-size: 30px;
    color: #fff;
    background: #72bf44;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
}

.contacts-explanation__for {
    text-align: left;
    font-weight: bold;
}

@media (min-width: 768px){
    .col4 {  width: 155px;}
    .col4 .num {  font-size: 14px;}
    .col6{  width: 210px;margin: 50px 30px 0 0;}
    .col6 .images .icon{ width: 120px;height: 120px; background-image: url(../images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: 0 0;}
    .col6 .images .icon.icon2{background-position: 0 -120px;}
    .col6 .images .icon.icon3{background-position: 0 -240px;}
    .col6 .images .icon.icon4{background-position: 0 -360px;}
    .col6 .images .icon.icon5{background-position: 0 -480px;}
    .col6 .images .icon.icon6{background-position: 0 -600px;}
    .col3 { width: 330px; }
    .col3:nth-child(odd) { margin-right: 0;}
    .footer .block, .copira{
        text-align: center;

    }
    .footer_cont{  text-align: center;}
    .footer_cont .phone{   margin: 20px auto;}
    .platej .platej-block .text{ font-size: 13px;}
    .zayavka{margin: 20px auto 0;}
    .footer_form_bg{  
        margin: 20px auto 46px;
        max-width: 405px;
    }
    .map{ display: block;}
    .map_phone{ display: none;}

    .calculator > div {
        //height: 412px;
        position: relative;
    }

    .calculator .platej {
        position: static;
    }

    .calculator .backcall-holder,
    .calculator .zayavka-holder {
        //position: absolute;
        //padding: 0 30px 0 0;
        width: 100%;
        bottom: 0;
    }

    .calculator .backcall,
    .calculator .zayavka {
        width: 100%;
    }
    .backcall.button_2{
        margin-top: 72px;
    }
}
@media only screen and (max-width: 1170px){
    .navbar-collapse .navbar-nav > li > a{
        padding: 0 8px;
        font-size: 14px;
    }
    .profits-item{
        width: 175px;
    }
    .profits-item_icon-wrapper{
        width: 100%;
    }
    .profits-item_descr{
        font-size: 13px;
        padding: 0 3px;
    }
    .who-can-item-descr{
        width: 65%;
    }
    .step-txt{
        font-size: 14px;
    }
    .step-item{
        min-height: 270px;
    }
    .docs-name{
        font-size: 14px;
        width: 270px;
    }
    .docs-item{
        height: auto;
        padding-bottom: 30px;
    }
    .footer_form_bg .title{
        font-size: 19px;
    }
    .footer_form_bg .text{
        font-size: 13px;
    }
}
.navbar-collapse_phonecall{
    display: none;
    color: #fff;
    font-family: OpenSansR;
    font-size: 36px;
    float: right;
}
@media only screen and (max-width: 992px){
    .nav.navbar-nav{
        display: none;
    }
    .navbar-collapse_phonecall{
        display: block;
    }
    .header h1.title{
        margin-top: 160px;
        text-align: center;
    }
    .lead-form-top{
        float: none !important;
        margin-top: 50px;
        margin: 50px auto 0;
    }
    .lead-form-top::before{
        content: '';
        display: table;
    }
    .profits{
        margin-top: 70px;
        text-align: center;
    }
    .profits-item{
        float: none;
        display: inline-block;
        margin-top: 25px;
    }
    .backcall.button_2{
        margin-top: 21px;
    }
    .calculator{
        padding: 0 30px 30px;
    }
    .col4 .num{
        font-size: 14px;
        line-height: 1.4;
    }
    .phrases-block_profit-txt > .rub{
        font-size: 14px;
    }
    .phrases-block .col4{
        width: 25%;
        margin: 50px 0;
    }
    .who-can-items{
        margin-top: 15px;
    }
    .step-item{
        max-height: 180px;
    }
    .docs::before{
        content: '';
        display: table;
    }
    .about-block::before, .about-block::after{
        content: '';
        display: table;
    }
    .docs-item{
        margin-top: 15px;
    }
    .docs-name{
        max-width: 90%;
        width: 90%;
    }
    .footer_cont-row{
        width: 60%;
        margin: 15px auto;
    }
    .copira{
        width: 60%;
        margin: 65px auto 20px;
    }
}
@media only screen and (max-width: 768px){
    .header .regions-list-mobile{
        display: none;
    }
    .header{
        height: auto !important;
    }
    .topcont.lead-form-top{
        display: block;
    }
    .step-item{
        max-height: none;
        min-height: 150px;
    }
    .footer .second-column{
        float: none !important;
    }
    .navbar-header{
        display: none;
    }
    .collapse.navbar-collapse{
        display: block;
    }
    .navbar-collapse_phonecall{
        font-size: 34px;
    }
    .footer{
        margin-top: 30px;
    }
    .footer-phone_val{
        width: 230px;
    }
    .docs-name{
        width: 80%;
    }
    .contacts{
        display: none;
    }
    .navbar-collapse_phonecall{
        font-size: 32px;
    }
}

@media only screen and (max-width: 480px){
    .header{
        background: url(../images/headerbg_blur.jpg?20171223) center 0;
    }
    .navbar-collapse_phonecall{
        font-size: 30px;
    }
    .platej .platej-block{
        height: 140px;
    }
    .phrases-block .col4{
        width: 45%;
    }
    .who-can-item{
        padding: 25px;
    }
    .footer_cont-row{
        width: 70%;
    }
    .logo img{
        width: 100%;
    }
    .navbar-collapse_phonecall{
        font-size: 21px;
    }
    .lead-form-top{
        width: 95%;
    }
    .title_head_b{
        font-size: 70px;
    }
    .title_head_subtitle{
        font-size: 37px;
    }
    .title_head_city{
        margin-top: 30px;
        font-size: 22px;
    }
    .header .title{
        font-size: 30px!important;
    }
    .header h1.title{
        margin-top: 100px;
    }
    .lead-form-top{
        padding: 0 15px;
    }
    .lead-form-top-descr{
        width: 210px;
    }
    .lead-form-top_lead-btn{
        width: 100%;
        margin: 15px auto 0;
    }
    .lead-form-top_lead-descr{
        /*font-size: 14px;*/
        font-size: 13px;
        margin-top: 14px;
    }
    .footer_form_bg .f_input input[type="text"], .footer_form_bg .f_input input[type="submit"]{
        width: 100%;
    }
    .footer_form_bg .title{
        text-align: center;
    }
    .footer_form_bg .text{
        font-size: 16px;
    }
    .footer-phone_val{
        width: 165px;
    }
    .docs .head{
        padding: 0 15px;
    }
    .docs-item_row{
        padding: 0 15px;
    }
    .footer-phone .footer-phone_val{
        /*font-size: 20px;*/
        font-size: 16px;
    }
    .about-block{
        padding: 30px 25px;
    }
    .who-can-item{
        height: auto;
    }
    .who-can-item-icon{
        float: none;
        width: 100%;
        text-align: center;
    }
    .who-can-item-icon img{
        display: inline-block;
    }
    .who-can-item-descr{
        float: none;
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }
    .who-can-item-descr_head{
        text-align: center;
    }
    .faq_answers-item{
        line-height: 1.6;
    }
    .faq_questions-items{
        margin-left: 0;
    }
    .calculator .mini{
        display: block;
        font-size: 13px;
    }
    .lead-form-top-descr{
        width: 205px;
    }
    .lead-form-top-descr, .lead-form-top-descr_email{
        font-size: 13px;
    }
    .lead-form-top-descr_phone{
        font-size: 18px;
    }
}

@media (min-width: 992px){
    .money .description {display: block;}
    .col4 {  width: 210px;}
    .col6 {  width: 130px;  margin: 50px 30px 50px 0;}
    .col6 .title { font-size: 13px;}
    .col3  {  width: 440px;}
    .col3:nth-child(odd) { margin-right: 0;}
    .footer .block, .copira{  text-align: left;}
    .footer_form_bg{  margin: 20px auto 46px;}
    .footer_cont{  text-align: left;}
    .footer_cont .phone{   margin: 20px 0;}
    .platej .platej-block .text{ font-size: 14px;}

    .zayavka{ margin: 24px auto 0;}

    .calculator > div {
        //height: 340px;
    }
    .backcall.button_2{margin-top: 25px;}

}
@media (min-width: 1200px){
    .col4 {  width: 260px;}
    .col6 {  width: 165px;}
    .col6 .title { font-size: 14px;}
    .col3  {  width: 350px;}
    .col3:nth-child(3n+1) { margin-right: 0 !important;}
    .col3:nth-child(odd) { margin-right: 30px;}
    .money .description {display: block;}
    .footer .block{  text-align: left;}
    .footer_form_bg{
        margin: 0;
    }
    .footer_cont{  text-align: left;}
    .footer_cont .phone{   margin: 20px 0;}
    .footer_cont .phone a{ color: #fff;}
    .zayavka{ margin: 24px auto 0;}
    .backcall.button_2{margin-top: 25px;}
}

@media (max-width: 992px) {
    .doc-4{width:100%;margin-top: 0px;}

    .header .title {
        margin-top: 50px;
    }

    .header p.description {
        margin-top: 100px;
    }
}
@media (max-width: 767px) {
    .col3  {  width: 100%;}
    .col4{ width: 100%; margin: 15px 0;}
    .money .description {display: none;}
    .money {display:none;}
    .footer .block, .copira{  text-align: center;}
    .money {display:none;}
    .footer .block{  text-align: center;}
    .footer .block li{  list-style: none;}
    .footer_form_bg{  margin: 20px auto; max-width: 405px;}
    /*.footer_cont{  text-align: center;}*/
    .footer_cont .phone{   margin: 20px auto;}
    .header {height: 230px;}
    .header .title{
        font-size: 36px;
        margin-top: 55px;
        line-height: 50px;
    }
    .header .description{display: none;}
    .zayavka{ margin: 15px auto 0;}
    .platej{margin-top: 25px;}
    .col6 { width: 100%; margin: 15px 0px 0 0; height: auto; text-align: left; padding: 0 15px;}
    .col6 .images{ display: table-cell; vertical-align: middle;}
    .col6 .title{ display: table-cell; vertical-align: middle;padding-left: 15px;}
    .col6 .images .icon{ width: 60px;height: 60px; background-image: url(../images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: -120px 0px;}
    .col6 .images .icon.icon2{background-position: -120px -60px;}
    .col6 .images .icon.icon3{background-position: -120px -120px;}
    .col6 .images .icon.icon4{background-position: -120px -180px;}
    .col6 .images .icon.icon5{background-position: -120px -240px;}
    .col6 .images .icon.icon6{background-position: -120px -300px;}
    .map{ display: none;}
    .map_phone{ display: table;}
    .footer_form_bg .title{ font-size: 20px;}
    .calculator { margin: 0 -15px; padding: 10px 0px;}
    .platej .platej-block .text{ font-size: 13px; line-height: 14px;}
    .platej .platej-block .platej-month{ margin-bottom: 0;}
    .platej .platej-block .price{margin-top:0;}
    .call, .call_z{ width: 300px;}
    .call .callform{ width: 270px;}
    .call_z .callform_z{ width: 270px;}
    p{text-align: left;}
    .footer_cont .time{padding:0}
    .call .close, .call_z .close_z{ right: 0;}
    .overpage_z{height:470px !important; overflow: scroll;}
    .map-holder{display:none;}
    .header {height: 230px;}
    .header .description{display: none;}
    .zayavka{ margin: 15px auto 0;}
    .platej{margin-top: 25px;}
    .col6 { width: 100%; margin: 15px 0px 0 0; height: auto; text-align: left; padding: 0 15px;}
    .col6 .images{ display: table-cell; vertical-align: middle;}
    .col6 .title{ display: table-cell; vertical-align: middle;padding-left: 15px;}
    .col6 .images .icon{ width: 60px;height: 60px; background-image: url(../images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: -120px 0px;}
    .col6 .images .icon.icon2{background-position: -120px -60px;}
    .col6 .images .icon.icon3{background-position: -120px -120px;}
    .col6 .images .icon.icon4{background-position: -120px -180px;}
    .col6 .images .icon.icon5{background-position: -120px -240px;}
    .col6 .images .icon.icon6{background-position: -120px -300px;}
    .map{ display: none;}
    .map_phone{ display: table;}
    .footer_form_bg .title{ font-size: 20px;}
    .calculator { margin: 0 -15px; padding: 10px 0px;}
    .platej .platej-block .text{ font-size: 13px; line-height: 14px;}
    .platej .platej-block .platej-month{ margin-bottom: 0;}
    .platej .platej-block .price{margin-top:0;}
    .call, .call_z{ width: 300px;}
    .call .callform{ width: 270px;}
    .call_z .callform_z{ width: 270px;}
    p{text-align: left;}
    .footer_cont .time{padding:0}
    .call .close, .call_z .close_z{ right: 0;}
    .overpage_z{height:470px !important; overflow: scroll;}
    .map-holder{display:none;}

    .regions-list-mobile {
        display: block;
    }

    .for-whom__icon-block {
        display: none;
    }

    .for-whom__text-block {
        padding: 0;
    }
}

.perezvoniWidget_submit {
    transition: none!important;
}

.phrases-block {
    line-height: 30px;
}

.phrases-block .per-month {
    margin-top: 5px;
}

.who_is {
    height: 64px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: top;
}

.who_is_man {
    display: table-cell;
    vertical-align: top;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background: #64A93A;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: none;
    border-bottom: none;
}

.dropdown-menu li {
    margin: 0;
    width: 100%;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFFFF;
    white-space: initial;
}

@media (min-width: 1200px) {
    .nav > li > a {
        padding: 10px 25px;
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #3F771B;
    color: #FFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #005E8B;
}

.navbar-nav {
    overflow: visible;
    padding-top: 15px;
}
.collapse.navbar-collapse{
    background-color: transparent;
    padding-top: 22px;
}
.logo{
    display: block;
    max-width: 180px;
}
.navbar-nav > li > a{
    color: white;
    font-family: "OpenSansR";
    font-size: 15px;
    font-weight: 700;
    display: block;
    float: left;
    padding: 0 15px;
}
.navbar-nav > li > a:hover{
    background-color: transparent;
    padding-bottom: 2px;
    border-bottom: 3px solid #6fbf44;
}
.header .fixed-nav{
    position: fixed;
    z-index: 2001;
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px 0;
}