@font-face { font-family: 'OpenSansR'; src: url('../fonts/OpenSansR.eot'); src: url('../fonts/OpenSansR.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansR.woff') format('woff'), url('../fonts/OpenSansR.ttf') format('truetype'), url('../fonts/OpenSansR.svg#OpenSansR') format('svg');     font-weight: normal;font-style: normal;
}
@font-face { font-family: 'Rub'; src: url('../fonts/Rub.eot'); src: url('../fonts/Rub.eot?#iefix') format('embedded-opentype'), url('../fonts/Rub.woff') format('woff'), url('../fonts/Rub.ttf') format('truetype'), url('../fonts/Rub.svg#Rub') format('svg'); font-weight: normal;font-style: normal;
}
@font-face { font-family: 'OpenSansL'; src: url('../fonts/OpenSansL.eot'); src: url('../fonts/OpenSansL.eot?#iefix') format('embedded-opentype'), 	 url('../fonts/OpenSansL.woff') format('woff'), 	 url('../fonts/OpenSansL.ttf') format('truetype'), 	 url('../fonts/OpenSansL.svg#OpenSansL') format('svg');     font-weight: normal;font-style: normal;
}

main {
    overflow-x: hidden;
}

.row-canonical {
    margin: -10px;
}

.col-canonical {
    padding: 10px;
}

h2.title--no-line:before, h2.title--no-line:after {
    display: none;
}

section{position:relative;}
section:before, section:after{ content: " "; display: table; clear:both;}

small a{text-decoration:underline;}

.header{  background: url(/images/headerbg.jpg) center 0;  height: auto; background-size: cover;}
.header .title {
    color: #fff;
    font-size: 60px;
    font-family: OpenSansL, arial, sans-serif;
    margin-top: 17px;
}
.header .description{  background: url(/images/bluebg.png);  width: 570px;  color: #fff;  margin: 40px 0 20px 0;  font-size: 20px;  box-sizing: border-box; font-family: OpenSansL, arial, sans-serif;  padding: 30px 75px; text-align: left;}

.topcont {
    background: url(/images/topcont.png) bottom;
    width: 326px;
    height: auto;
    box-sizing: border-box;
    padding: 20px 38px 0 30px;
    min-height: 310px;
}

.topcont .phone {
    background: url(/images/phone.png) no-repeat 0 7px;
    padding-left: 33px;
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.topcont .phone span{color: #005e8b;font-size: 28px;text-shadow: 0px 0px 0;}
.topcont .time{}
.topcont .address {
    font-size: 13px;
    line-height: 15px;
}
.topcont .logo{
    text-align: center;
    margin-top: 8px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.slide{ position: absolute; top: -50px;}

.backcall{color: #000;   cursor:pointer;  border-radius: 5px;
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #eab300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#eab300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#eab300',GradientType=0 ); /* IE6-9 */
}
.backcall:hover{
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #e4a300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#e4a300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#e4a300',GradientType=0 ); /* IE6-9 */
}
.zayavka,.zayavka-abs{ color: #fff;font-size: 19px;padding: 16px 0px;text-align: center;cursor: pointer;border-radius: 5px;margin: 34px auto 0;box-shadow: 0 1px 0px #66ac3d;
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #80c657 50%, #72bf44 50%, #6db641 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#80c657), color-stop(50%,#72bf44), color-stop(100%,#6db641)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#6db641',GradientType=0 ); /* IE6-9 */
}
.zayavka:hover,.zayavka-abs:hover{
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #75be4b 50%, #66ac3d 50%, #66ac3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#75be4b), color-stop(50%,#66ac3d), color-stop(100%,#66ac3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#66ac3d',GradientType=0 ); /* IE6-9 */
}
.zayavka.zayavka_right{float: right;  width: 330px;  margin-top: 80px;  font-size: 25px;}
.backcall.button_1{ font-size: 15px;  margin-top: 10px;text-align: center;padding: 10px 0;box-shadow: 0 1px 0px #C88F07;text-transform: uppercase;}
.backcall.button_2{    font-size: 19px;    padding: 16px 0px;    text-align: center; margin-top: 32px;}
.overpage, .overpage_z{  position: fixed; z-index: 99999; background: rgba(0, 0, 0, 0.65); width: 100%; height: 100%; transition: 1s; opacity:0; display:none; }
.call{  width: 460px; padding-bottom: 50px;position: relative; background: white; margin: 10% auto;font-family: OpenSansL, RobotoL, arial, sans-serif;}
.call_z{  width: 700px; padding-bottom: 50px;position: relative; background: white; margin: 2% auto;  font-family: OpenSansR, Arial, sans-serif;}
.call .close, .call_z .close_z{  position: absolute; right: -20px; height: 39px; width: 40px; text-align: center; background: #fff; color: #000; border-radius: 100%; font-size: 28px; line-height: 1.4; cursor: pointer; top: -20px;z-index: 999;   opacity: 1;  font-weight: normal;}
.call .calltitle, .call_z  .calltitle_z {   position: relative;  height: 73px;  width: 100%;  background: #005e8b;  text-align: center;  color: #fff;  font-size: 24px;  line-height: 3;  text-shadow: 0 1px 1px #005e8b;}
.call .callform{width: 310px;margin: 0 auto;}
.call .callnote{margin-top: 30px;}
.call .callnote p{text-align: center}
.call_z .callform_z{width: 580px;margin: 0 auto;}
.formname{margin-top: 31px !important;}
.minformfield{  height: 41px;}
.bigformfield{   height: 110px;}
.buttonsendf{   width: 135px;height: 42px;background: rgb(189, 50, 24);color: white;border: none;   font-size: 14px;   margin-top: 17px; cursor: pointer;border-radius: 0px; }
.buttonsendfcall, .buttonsendfcall_z{   width: 135px;height: 42px;  color: #000;border: none;font-size: 14px;   margin-top: 10px; cursor: pointer;border-radius: 5px;
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #eab300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#eab300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#eab300',GradientType=0 ); /* IE6-9 */
}
.backcalaasl  input[type="text"]{width: 100%;}
.width_big{width: 100%;}
.width_small{width: 284px;}
.backcalaasl  input[type="text"], .backcalaasl_z  input[type="text"], .backcalaasl_z select {
    height: 41px;
    margin-bottom: 10px;
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid #888;
    background: #fff;
    border: 1px solid #ddd;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;
}
.backcalaasl  input[type="text"]:focus, .backcalaasl_z  input[type="text"]:focus, .backcalaasl_z textarea:focus, .backcalaasl_z select:focus  {outline:2px solid #068dcd;}
.backcalaasl  input[type="button"]:focus, .backcalaasl_z  input[type="button"]:focus{outline:none;}
.backcalaasl_z  textarea {width: 100%;  height: 90px;  margin-bottom: 10px;padding: 5px 5px;font-size: 14px;border: 1px solid #888;background: #fff; border: 1px solid #ddd;border-right: 1px solid #bbb;border-bottom: 1px solid #bbb;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.backcalaasl  input[type="text"]::-webkit-input-placeholder, .backcalaasl_z  input[type="text"]::-webkit-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]::-moz-placeholder, .backcalaasl_z  input[type="text"]::-moz-placeholder          {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:-moz-placeholder, .backcalaasl_z  input[type="text"]:-moz-placeholder           {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:-ms-input-placeholder , .backcalaasl_z  input[type="text"]:-ms-input-placeholder      {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus::-webkit-input-placeholder, .backcalaasl_z  input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus::-moz-placeholder, .backcalaasl_z  input[type="text"]:focus::-moz-placeholder   {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus:-moz-placeholder, .backcalaasl_z  input[type="text"]:focus:-moz-placeholder    {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl  input[type="text"]:focus:-ms-input-placeholder, .backcalaasl_z  input[type="text"]:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea::-webkit-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea::-moz-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:-moz-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:-ms-input-placeholder {color:#000;opacity: 1; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.backcalaasl_z textarea:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.margin{margin-right: 8px;}

.mini{font-size: 12px;margin-top: 20px;}

.formfield-radio {
    height: auto;
    margin-bottom: 10px;
}

.formfield-radio label {
    cursor: pointer;
}

.radio {
    display: inline;
    padding-right: 5px;
}

.radio > span {
    background-image: url(/images/radio.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    top: 6px;
}

.radio > span.checked {
    background-position: 0 -22px;
}

.radio input {
    display: none;
}

.input-error {
    border:1px solid red !important;
}

.slide-2 h3 {
    text-align: center;
    width: 100%;
    display: table;
    height: 53px;
}

.slide-2 h3 span {
    vertical-align: middle;
    display: table-cell;
}

.slide-2_half {
    position: relative;
    height: 230px;
}

.slide-2_half_list {
    position: absolute;
    display: inline-block;
    top: 90px;
    width: 250px;
    left: 50%;
    margin-left: -118px;
}

.who-can small {
    color: #015E8B;;
    font-size: 90%;
}

.file_upload{
    display: block;
    position: relative;
    overflow: hidden;              /* example */
    height: 2em;                 /* example */
    font-weight: normal;
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer              /* example */
}
.file_upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80px;                  /* example */
    height: 100%;
    text-align: center           /* example */
}
.file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em            /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > mark{
        display: none
    }
    .file_upload .button{
        width: 100%
    }
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}
.file_upload{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear}
.file_upload.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
.file_upload .button{
    background: #E8E8E8;
    transition: background 0.2s;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #000;
    overflow: hidden;
    line-height: 22px;
}
.file_upload:hover .button{
    background: #ccc;
}
.file_upload:active .button{
    background: #ccc;
}
span.red{color: #f00;font-weight: bold;}

.calculator{background: #f2f2f2;border-radius: 0 0 10px 10px;border-bottom: 1px solid #fff;box-shadow: 0 12px 10px -13px;  padding: 30px;margin-bottom: 30px;}
.calculator .calculator-block-pledge{margin-bottom: 30px}
.calculator .btn-pledge{margin: 0 15px; width: 250px}
.calculator .btn-realty{ color: #333; cursor: pointer;border-radius: 5px; box-shadow: 0 1px 0px #eab300;
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #eab300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#eab300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#eab300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#eab300',GradientType=0 ); /* IE6-9 */
}
.calculator .btn-realty:hover{
    background: #ffbc1a; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbc1a 0%, #ffbc1a 50%, #ffb400 50%, #e4a300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc1a), color-stop(50%,#ffbc1a), color-stop(50%,#ffb400), color-stop(100%,#e4a300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffbc1a 0%,#ffbc1a 50%,#ffb400 50%,#e4a300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc1a', endColorstr='#e4a300',GradientType=0 ); /* IE6-9 */
}
.calculator .btn-auto{ color: #333; cursor: pointer;border-radius: 5px; box-shadow: 0 1px 0px #f8f8f8;
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #fff 50%, #fafafa 50%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#fff), color-stop(50%,#fafafa), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#fff 50%,#fafafa 50%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#fff 50%,#fafafa 50%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#fff 50%,#fafafa 50%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fff 0%,#fff 50%,#fafafa 50%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}
.calculator .btn-auto:hover{
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 50%, #f0f0f0 50%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#f2f2f2), color-stop(50%,#f0f0f0), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f2f2f2 50%,#f0f0f0 50%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#f2f2f2 50%,#f0f0f0 50%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#f2f2f2 50%,#f0f0f0 50%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fff 0%,#f2f2f2 50%,#f0f0f0 50%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
.calculator-block{ margin: 10px 0 0;}
.calculator-block .title{display: inline-block;text-shadow: 0 0px 0px;font-size: 17px;margin-right: 5px;}
.calculator-block .price{display: inline-block;font-size: 22px;color: #007AB3;line-height: 30px;vertical-align: middle;}
.calculator-block .month{
    display: inline-block;
    font-size: 22px;
    color: #007AB3;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 151px;
    /*background-color: #005e8b;*/
    /*border: 1px solid #005e8b;*/
    border: 1px solid #D0CCCC;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.calculator-block .month:hover{
    background-color: #99BFD1;
    color: #fff;
    border: 1px solid #99BFD1;
}
.calculator-block .month.active{
    background-color: #007DBD;
    color: #fff;
    border: 1px solid #007DBD;
}

.calculator-block .from{ float: left; font-size: 15px; color: #999; margin: 10px 0 8px;}
.calculator-block .till{ float: right; font-size: 15px; color: #999; margin: 10px 0 8px;}
.calculator-block .polzun{float: left;/* margin: 0px 0px 15px; */width: 100%;height: 32px;overflow-x: hidden;}
.calculator-info{margin-top: 20px;}
.slider-result{  /*float: left;*/ display: inline-block; }
.result-sum{width: 200px;  border: 1px solid #D0CCCC;  border-radius: 5px; padding: 5px;}
#result-month{  float: left;  margin-right: 5px;}

.slider, .slider.dragdealer {width: 100%;height: 10px;position:relative;margin:0 auto;padding:0 10px;background-color: #fff;/*border-radius: 10px;*/box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23) inset;top: 10px;}

.slider-handle {position: absolute;left: 0;width: 32px;height: 32px;background: url(/images/sprite_1.png) no-repeat -190px -140px;margin-top: -10px;z-index: 1000;}
.slider-handle:before {content: '';	position: absolute;left: -499px;width: 500px;top: 10px;height: 10px;background: url(/images/fill.jpg);z-index: 999;}
.before{content: ''; position: absolute;left: 0;width: 7px;top: 0;height: 10px;background: url(/images/before.png);z-index: 1000;}

.clr{clear:both;}

.sum-dragger-input {position: relative;background: none;border: none;width: 160px;}
.sum-dragger-input:focus{outline:none;}

.month-count {width: 460px;height: 10px;background:url('../images/draggers/slider-bg.png'); position:relative;margin:0 auto;padding:0 10px;}
#months-word{ margin-left: 5px;}

.ui-slider-handle {width: 32px;height: 32px;position:absolute;top: -10px;margin-left: -16px;z-index:200;background:url('../images/draggers/slider-button.png');}
.ui-widget-header {background:url('../images/draggers/fill.png') no-repeat left;height:8px;left:1px;top:1px;position:absolute;}

.platej{}
.platej .title{text-shadow: 0 0px 0px;font-size: 17px;  margin-bottom: 15px;}
.platej .platej-block{background: #fff;padding: 15px;font-size: 16px;padding-left: 70px; cursor:pointer;}
.platej .platej-block.platej-block-static {cursor: default;}

.platej .platej-block.top{border-radius: 10px 10px 0 0; border-bottom: 1px solid #fff;}
.platej .platej-block.bottom{border-radius: 0 0 10px 10px;}

.platej  .platej-block:hover,
.platej  .platej-block.platej-block-static,
.platej  .platej-block.active {    background:#72BF44 url(/images/ok.png) no-repeat 17px center; color: #fff;}

/*.platej  .platej-block.platej-block-static {*/
/*background-color: #fff;*/
/*}*/

.platej .platej-block .text{  clear: both;}
.platej .platej-block .platej-month{float: left;margin: 10px 10px 10px 0;font-size: 20px;}
.platej .platej-block .price{float: left;  margin-top: 5px;  font-size: 25px;}
.platej-zakaz{ color: #fff;font-size: 19px;padding: 16px 0px;text-align: center;cursor: pointer;border-radius: 5px;margin: 43px auto 0;box-shadow: 0 1px 0px #66ac3d;
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #80c657 50%, #72bf44 50%, #6db641 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#80c657), color-stop(50%,#72bf44), color-stop(100%,#6db641)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#80c657 50%,#72bf44 50%,#6db641 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#6db641',GradientType=0 ); /* IE6-9 */
}
.platej-zakaz:hover{
    background: #80c657; /* Old browsers */
    background: -moz-linear-gradient(top, #80c657 0%, #75be4b 50%, #66ac3d 50%, #66ac3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80c657), color-stop(50%,#75be4b), color-stop(50%,#66ac3d), color-stop(100%,#66ac3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80c657 0%,#75be4b 50%,#66ac3d 50%,#66ac3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c657', endColorstr='#66ac3d',GradientType=0 ); /* IE6-9 */
}

.info{background: #005e8b;margin: 30px 0;}
.col4 { float: left; width: 260px; margin: 50px 30px 50px 0;  color: #fff;  text-shadow: 0 1px 0px #003d59;  font-size: 28px;  text-align: center;}
.col4 .num{  text-transform: uppercase;  font-size: 17px;}
.col4 .rub{  font-size: 27px;}
.col4:nth-child(4n) { margin-right: 0;}
.rub{  font-family: Rub, arial, sans-serif;}

.preim{background: #72bf44;margin: 30px 0;padding: 30px 0;}
.col6 { float: left; width: 165px;  height: 203px; margin: 50px 30px 50px 0;  color: #fff;font-size: 15px;  text-align: center;}
.col6 .images{   margin-bottom: 15px; }
.col6 .images .icon{ width: 120px;height: 120px; background-image: url(/images/sprite_1.png);margin: 0 auto;}
.col6 .images .icon.icon1{background-position: 0 0;}
.col6 .images .icon.icon2{background-position: 0 -120px;}
.col6 .images .icon.icon3{background-position: 0 -240px;}
.col6 .images .icon.icon4{background-position: 0 -360px;}
.col6 .images .icon.icon5{background-position: 0 -480px;}
.col6 .images .icon.icon6{background-position: 0 -600px;}
.col6 .title{ line-height: 17px; }
.col6:nth-child(7n) { margin-right: 0;}

.feedback-block .col3_abs { cursor: default;}

.money{  background: url(/images/523.jpg) center 0;  height: 398px;margin: 30px 0;}
.money .title{  color: #fff;  font-size: 60px;  font-family: OpenSansL, RobotoL, arial, sans-serif;  margin-top: 50px;}
.money .description{   float: left; background: url(/images/bluebg.png);  width: 570px;  color: #fff;  margin: 40px 0 0 0;  font-size: 20px;  font-family: ubuntu;  box-sizing: border-box;  padding: 30px 75px;text-align: left;}
.bolshe{}

.nicescroll-rails > div { cursor: pointer;}

.sert{ margin: 0 8px 10px 0; float: left; box-shadow: 0 0 5px rgba(143, 161, 195, 0.36);}
.sert a{}

ul.pdf{ margin: 0;}
ul.pdf li{list-style: none;background: url(/images/pdf.png) no-repeat;line-height: 20px;margin-bottom: 10px;padding-left: 40px;min-height: 26px;}
ul.pdf li a{color: #005e8b;text-decoration: none;}
ul.pdf li a:hover{ color: #0CAFD6;}

.doc-4{float:left;width:50%; margin-top: 20px;}

.footer {  color: #FFF;  background: #171717 url(/images/line_naklon.png);}
.footer .title{  font-size: 25px;  margin-bottom: 10px;}

.footer .block {
    margin: 20px 0;
}
.footer .block:first-child {
    margin: 30px 0 20px;
}
.footer .block li{  list-style: none;}

.footer-title {
    margin: 0 0 20px 0;
    font-size: 25px;
}

.footer-title:before,
.footer-title:after {
    display: none;
}

.footer_cont{  margin: 30px 0;}

.footer_cont .phone {
    padding-left: 33px;
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
    width: 260px;

}

.footer_cont .phone:before {
    content: " ";
    display: block;
    width: 30px;
    height: 60px;
    background: url(/images/sprite_1.png) no-repeat -190px -47px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer_cont .phone a{color: #fff;}
.footer_cont .phone span{color: #fff;font-size: 28px;text-shadow: 0px 0px 0;}
.footer_cont .time{ padding-left: 33px;}
.footer_cont .address{}

.footer_form_bg{background-color: #72BF44;width: auto;height: auto;box-sizing: border-box;padding: 30px 20px 15px;margin-top: -5px;  margin-bottom: 20px;border-radius: 7px 7px 0 0;box-shadow: 0 4px 5px rgba(255, 255, 255, 0.61) inset;}
.footer_form_bg:after{content:'';background: url(/images/footer_form_bot.png) center;height: 46px;width: 100%;position: absolute;left: 0;bottom: -46px;}
.no{line-height: 15px;  font-size: 14px;  background: #BCD9F0;  padding: 10px;}
.no a{  color: #1E5799;}
.no a:hover{text-decoration: none;}
.footer_form_bg .title{font-size: 24px;margin-bottom: 10px;text-shadow: 0 1px 1px rgba(48, 116, 8, 0.99);}
.footer_form_bg .text{  text-shadow: 0 1px 1px rgba(48, 116, 8, 0.99);  margin-bottom: 15px;}
.footer_form_bg .f_input input[type="text"]{  width: 100%;  border: none;  padding: 7px;  margin-bottom: 10px;  background: rgba(0, 0, 0, 0.26);  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24) inset;}
.footer_form_bg .f_input input[type="submit"]{ -webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;cursor: pointer; width: 100%;  border: none;  border-radius: 5px; box-shadow: 0 1px 0px #063952; padding: 10px 0;  margin-top: 10px;
    background: #1a6e97; /* Old browsers */
    background: -moz-linear-gradient(top, #1a6e97 0%, #1e79a6 50%, #046fa3 50%, #00547d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a6e97), color-stop(50%,#1e79a6), color-stop(50%,#046fa3), color-stop(100%,#00547d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a6e97 0%,#1e79a6 50%,#046fa3 50%,#00547d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a6e97 0%,#1e79a6 50%,#046fa3 50%,#00547d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1a6e97 0%,#1e79a6 50%,#046fa3 50%,#00547d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1a6e97 0%,#1e79a6 50%,#046fa3 50%,#00547d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6e97', endColorstr='#00547d',GradientType=0 ); /* IE6-9 */
}
.footer_form_bg .f_input input[type="submit"]:hover{
    background: #1a6e97; /* Old browsers */
    background: -moz-linear-gradient(top, #1a6e97 0%, #248abd 50%, #1e79a6 50%, #046fa3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a6e97), color-stop(50%,#248abd), color-stop(50%,#1e79a6), color-stop(100%,#046fa3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a6e97 0%,#248abd 50%,#1e79a6 50%,#046fa3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a6e97 0%,#248abd 50%,#1e79a6 50%,#046fa3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1a6e97 0%,#248abd 50%,#1e79a6 50%,#046fa3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1a6e97 0%,#248abd 50%,#1e79a6 50%,#046fa3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6e97', endColorstr='#046fa3',GradientType=0 ); /* IE6-9 */
}
.footer_form_bg .f_input textarea{  width: 216px;  border: 1px solid #D2D2D2;  padding: 5px; margin-left: 10px;  height: 100px;}
.footer_form_bg .f_label{font-size: 13px;  text-align: center;  margin-bottom: 10px;}
.footer_form_bg .f_input input:focus{outline:  2px solid #fff;}
.footer_form_bg .f_input input[type="text"]::-webkit-input-placeholder {color:#fff;opacity: 1; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]::-moz-placeholder          {color:#fff;opacity: 1; transition: opacity 0.3s ease;}/* Firefox 19+ */
.footer_form_bg .f_input input[type="text"]:-moz-placeholder           {color:#fff;opacity: 1; transition: opacity 0.3s ease;}/* Firefox 18- */
.footer_form_bg .f_input input[type="text"]:-ms-input-placeholder      {color:#fff;opacity: 1; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus::-moz-placeholder   {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus:-moz-placeholder    {opacity: 0; transition: opacity 0.3s ease;}
.footer_form_bg .f_input input[type="text"]:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.map_phone{height: 54px; vertical-align: middle; padding-left: 70px;width: 100%;background-color: #E8EDF1;text-align: center;border-radius: 50px;margin-bottom: 20px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;}
.map_phone a{ display: block;}
.map_phone span{ display: table-cell; height: 54px; vertical-align: middle;}
.map_phone span:before{ content: ''; background-image: url(/images/sprite_1.png); background-position: -122px -434px; height: 54px; width: 54px; position: absolute; top: 0; left:0;}
.map_phone:hover,.map_phone:focus{ background-color: #D8E2EA;}

.map-holder { width: 100%; height: 450px; }
.map-links p { margin: 10px 0; }
.map-links_list {margin:0;}
.map-links_list li { display: inline-block;   margin-right: 40px; }
.map-links_list li a, .time a { display: inline; color: #72BF44; text-decoration: none; border-bottom: 1px solid;}
.map-links_list li a:hover, .time a:hover { cursor: pointer; border-bottom:none;}
.map-balloon { width: 285px; height: 78px; background-image: url(/images/sprite_1.png); background-position: -550px -509px; position: relative; padding: 10px 5px; }
.map-balloon .close-button { position: absolute; top: 1px; left: 227px; color: #fff; text-decoration: none; font-family: "robotoregular", arial, sans-serif; font-weight: bold; font-size: 20px; }
.map-balloon .text { color: #fff }
.map-icon { width: 85px; height: 57px; background-image: url(/images/sprite_1.png); background-position: -303px -445px; color: #fff; font-size: 16px; font-family: 'robotoregular', arial, sans-serif; padding: 7px 12px; }

.ac-container{}
.ac-container label{position: relative;z-index: 20;display: block;cursor: pointer;background: #F7F7F7 url(/images/toggle-plus.png) no-repeat 6px 5px;margin: 0 0 5px 0;box-shadow: 0 2px 5px -4px #000;padding: 7px 7px 7px 40px;}
.ac-container input{display: none;}
.ac-container section{ height: 0px; position: relative; z-index: 10;	padding: 0 10px;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear; overflow: hidden; border: 1px solid #FFFFFF;}
.ac-container input:checked + label{background: #015E8B url(/images/toggle-minus.png) no-repeat 6px 5px;color: #fff;}
.ac-container input:checked ~ section{	-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.ac-container input:checked ~ section.ac-small{
    height: auto;/*auto*/ max-height: 500px;/*auto*/ display: block; margin: 0 0 5px; overflow: hidden; clear: both;padding: 10px;background: #f0f0f0; border: 1px solid #d6d6d6; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.ac-small ul{margin-left: 0;}
.ac-small ul li{ float: left; width: 182px; margin-left: 30px;}

.backcalaasl_z select.regions-select__select {
    padding-top: 0;
    padding-bottom: 1px;
    line-height: 14px;
    height: 30px;
    width: 100%;
    border: 2px solid #72BF44;
    outline-offset: 0;
    outline: 0;
    border-radius: 5px;
}

.backcalaasl_z select.regions-select__select:focus {
    border: 2px solid #068dcd;
}

.regions-list-mobile {
    display: none;
    width: 170px;
    background-color: #005E8B;
    color: #fff;
    padding: 3px 0;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -85px;
    z-index: 2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: none;
}

.regions-list-mobile__list-block {
    max-height: 0;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 28px;
    width: 140px;
    margin-left: -70px;
    background-color: #005E8B;
    border: 1px solid #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

.regions-list-mobile.active .regions-list-mobile__list-block {
    max-height: 100px;
    opacity: 1;
}

.regions-list-mobile__list {
    margin: 0;
    list-style: none;
}

li.regions-list-mobile__item {
    margin: 3px 0;
}

.regions-list-mobile__item--selected {
    background: #fff;
    color: #005E8B;
}

a.regions-list-mobile__link {
    color: inherit;
}

.regions-list-footer {
}

.regions-list-footer__list {
    margin: 0;
    list-style: none;
}

.regions-list-footer__item {
    color: #72BF44;
}

.regions-list-footer__item--selected {
    background: #72BF44;
    display: inline-block;
    color: #000;
    padding: 0 5px;
    border-radius: 3px;
}

a.regions-list-footer__link {
    color: inherit;
    text-decoration: underline;
}

a.regions-list-footer__link:hover {
    text-decoration: none;
}

.additional-text {
    background-color: #005E8B;
    color: #fff;
    padding: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: 30px;
}

.for-whom__cell {
    display: table;
}

.for-whom__icon-block {
    display: table-cell;
}

.for-whom__text-block {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 20px;
}

.for-whom__title {
    margin-top: 5px;
}

.icon-single-person {
    width: 122px;
    height: 90px;
    background-image: url(/images/sprite_1.png);
    background-position: -221px 0px;;
}

.icon-multiple-persons {
    width: 122px;
    height: 90px;
    background-image: url(/images/sprite_1.png);
    background-position: -221px -90px;
}

.contacts-explanation__digit {
    font-size: 30px;
    color: #fff;
    background: #72bf44;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
}

.contacts-explanation__for {
    text-align: left;
    font-weight: bold;
}

@media (min-width: 768px){
    .col4 {  width: 155px;}
    .col4 .num {  font-size: 14px;}
    .col6{  width: 210px;margin: 50px 30px 0 0;}
    .col6 .images .icon{ width: 120px;height: 120px; background-image: url(/images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: 0 0;}
    .col6 .images .icon.icon2{background-position: 0 -120px;}
    .col6 .images .icon.icon3{background-position: 0 -240px;}
    .col6 .images .icon.icon4{background-position: 0 -360px;}
    .col6 .images .icon.icon5{background-position: 0 -480px;}
    .col6 .images .icon.icon6{background-position: 0 -600px;}
    .col3 { width: 330px; }
    .col3:nth-child(odd) { margin-right: 0;}
    .footer .block, .copira{  text-align: center;}
    .footer_cont{  text-align: center;}
    .footer_cont .phone{   margin: 20px auto;}
    .platej .platej-block .text{ font-size: 13px;}
    .platej .platej-block .platej-month{ margin: 0px 10px 0px 0;}
    .zayavka{margin: 20px auto 0;}
    .footer_form_bg{  margin: 20px auto 46px; max-width: 405px;}
    .map{ display: block;}
    .map_phone{ display: none;}

    .calculator > div {
        height: 412px;
        position: relative;
    }

    .calculator .platej {
        position: static;
    }

    .calculator .backcall-holder,
    .calculator .zayavka-holder {
        position: absolute;
        padding: 0 30px 0 0;
        width: 100%;
        bottom: 0;
    }

    .calculator .backcall,
    .calculator .zayavka {
        width: 100%;
    }
    .backcall.button_2{margin-top: 72px;}
}
@media (min-width: 992px){
    .money .description {display: block;}
    .col4 {  width: 210px;}
    .col6 {  width: 130px;  margin: 50px 30px 50px 0;}
    .col6 .title { font-size: 13px;}
    .col3  {  width: 440px;}
    .col3:nth-child(odd) { margin-right: 0;}
    .footer .block, .copira{  text-align: left;}
    .footer_form_bg{  margin: 20px auto 46px;}
    .footer_cont{  text-align: left;}
    .footer_cont .phone{   margin: 20px 0;}
    .platej .platej-block .text{ font-size: 14px;}
    .platej .platej-block .platej-month{ margin: 10px 10px 10px 0;}
    .zayavka{ margin: 24px auto 0;}

    .calculator > div {
        height: 340px;
    }
    .backcall.button_2{margin-top: 32px;}
}
@media (min-width: 1200px){
    .col4 {  width: 260px;}
    .col6 {  width: 165px;}
    .col6 .title { font-size: 14px;}
    .col3  {  width: 350px;}
    .col3:nth-child(3n+1) { margin-right: 0 !important;}
    .col3:nth-child(odd) { margin-right: 30px;}
    .money .description {display: block;}
    .footer .block{  text-align: left;}
    .footer_form_bg{  margin: 20px auto 46px;}
    .footer_cont{  text-align: left;}
    .footer_cont .phone{   margin: 20px 0;}
    .footer_cont .phone a{ color: #fff;}
    .zayavka{ margin: 45px auto 0;}
}

@media (max-width: 992px) {
    .doc-4{width:100%;margin-top: 0px;}

    .header .title {
        margin-top: 50px;
    }

    .header p.description {
        margin-top: 100px;
    }
}
@media (max-width: 767px) {
    .col3  {  width: 100%;}
    .col4{ width: 100%; margin: 15px 0;}
    .money .description {display: none;}
    .money {display:none;}
    .footer .block, .copira{  text-align: center;}
    .money {display:none;}
    .footer .block{  text-align: center;}
    .footer .block li{  list-style: none;}
    .footer_form_bg{  margin: 20px auto; max-width: 405px;}
    .footer_cont{  text-align: center;}
    .footer_cont .phone{   margin: 20px auto;}
    .header {height: 230px;}
    .header .title{
        font-size: 36px;
        margin-top: 55px;
        line-height: 50px;
    }
    .header .description{display: none;}
    .zayavka{ margin: 15px auto 0;}
    .platej{margin-top: 25px;}
    .col6 { width: 100%; margin: 15px 0px 0 0; height: auto; text-align: left; padding: 0 15px;}
    .col6 .images{ display: table-cell; vertical-align: middle;}
    .col6 .title{ display: table-cell; vertical-align: middle;padding-left: 15px;}
    .col6 .images .icon{ width: 60px;height: 60px; background-image: url(/images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: -120px 0px;}
    .col6 .images .icon.icon2{background-position: -120px -60px;}
    .col6 .images .icon.icon3{background-position: -120px -120px;}
    .col6 .images .icon.icon4{background-position: -120px -180px;}
    .col6 .images .icon.icon5{background-position: -120px -240px;}
    .col6 .images .icon.icon6{background-position: -120px -300px;}
    .map{ display: none;}
    .map_phone{ display: table;}
    .footer_form_bg .title{ font-size: 20px;}
    .calculator { margin: 0 -15px; padding: 10px 0px;}
    .platej .platej-block .text{ font-size: 13px; line-height: 14px;}
    .platej .platej-block .platej-month{ margin-bottom: 0;}
    .platej .platej-block .price{margin-top:0;}
    .call, .call_z{ width: 300px;}
    .call .callform{ width: 270px;}
    .call_z .callform_z{ width: 270px;}
    p{text-align: left;}
    .footer_cont .time{padding:0}
    .call .close, .call_z .close_z{ right: 0;}
    .overpage_z{height:470px !important; overflow: scroll;}
    .map-holder{display:none;}
    .header {height: 230px;}
    .header .description{display: none;}
    .zayavka{ margin: 15px auto 0;}
    .platej{margin-top: 25px;}
    .col6 { width: 100%; margin: 15px 0px 0 0; height: auto; text-align: left; padding: 0 15px;}
    .col6 .images{ display: table-cell; vertical-align: middle;}
    .col6 .title{ display: table-cell; vertical-align: middle;padding-left: 15px;}
    .col6 .images .icon{ width: 60px;height: 60px; background-image: url(/images/sprite_1.png);margin: 0 auto;}
    .col6 .images .icon.icon1{background-position: -120px 0px;}
    .col6 .images .icon.icon2{background-position: -120px -60px;}
    .col6 .images .icon.icon3{background-position: -120px -120px;}
    .col6 .images .icon.icon4{background-position: -120px -180px;}
    .col6 .images .icon.icon5{background-position: -120px -240px;}
    .col6 .images .icon.icon6{background-position: -120px -300px;}
    .map{ display: none;}
    .map_phone{ display: table;}
    .footer_form_bg .title{ font-size: 20px;}
    .calculator { margin: 0 -15px; padding: 10px 0px;}
    .platej .platej-block .text{ font-size: 13px; line-height: 14px;}
    .platej .platej-block .platej-month{ margin-bottom: 0;}
    .platej .platej-block .price{margin-top:0;}
    .call, .call_z{ width: 300px;}
    .call .callform{ width: 270px;}
    .call_z .callform_z{ width: 270px;}
    p{text-align: left;}
    .footer_cont .time{padding:0}
    .call .close, .call_z .close_z{ right: 0;}
    .overpage_z{height:470px !important; overflow: scroll;}
    .map-holder{display:none;}

    .regions-list-mobile {
        display: block;
    }

    .for-whom__icon-block {
        display: none;
    }

    .for-whom__text-block {
        padding: 0;
    }
}

.perezvoniWidget_submit {
    transition: none!important;
}

.phrases-block {
    line-height: 30px;
}

.phrases-block .per-month {
    margin-top: 5px;
}

.who_is {
    height: 64px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: top;
}

.who_is_man {
    display: table-cell;
    vertical-align: top;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background: #64A93A;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: none;
    border-bottom: none;
}

.dropdown-menu li {
    margin: 0;
    width: 100%;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFFFF;
    white-space: initial;
}

@media (min-width: 1200px) {
    .nav > li > a {
        padding: 10px 25px;
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #3F771B;
    color: #FFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #005E8B;
}

.navbar-nav {
    overflow: visible;
}

.absolute-btn{
    /*position: absolute;*/
    position: fixed;
    top: 60%;
    right: -90px;
    transform: rotate(270deg);
    display: block;
    padding: 16px 48px;
    z-index: 10000;
}
@media (max-width: 767px) {
    .absolute-btn {
        padding: 8px 24px;
        right: -74px;
    }
}
.absolute-btn:hover, .absolute-btn:visited{
    color: #fff;
}